.adminHome{
    .welcome{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:center;
        color: $primary_text_color;
        align-items:center;
        .top{
            font-size: 52px;
        }
        .tips{
            font-size: 28px;
        }
    }
}