$primary_text_color: #fff;
$base_background_color: #23232c;
$header_height: 44px;
$footer_height: 80px;
$active_background_color: rgb(103, 146, 186);
$dark_base_backgroud_color: rgb(19, 19, 26);
$shallow_base_backgroud_color: rgb(70, 69, 88);
