.rightHeader{
    @media screen and (min-width:700px) {
        display: none;
    }
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background-color: #23232c;
    color: #fff;
    line-height: 60px;
    .head{
        width: 70px;
        height: 70px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
        border-radius: 10px;
        margin-bottom: 50px;
    }
    .center{
        flex: 1;
        // display: flex;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        line-height: 44px;
        .list{
            height: 44px;
            margin: 15px 0;
            &.active{
                background-color: rgb(19,19,26);
            }
            &:hover{
                background-color: rgb(19,19,26);
            }
        }
    }

}