footer {
    height: $footer_height;
    font-size: 16px;
    font-weight: 200;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    span {
        padding: 5px 20px;
        &:hover {
            background-color: $active_background_color;
            border-radius: 5px;
        }
    }
}
